<div class="nav">
    <h1 style="padding: 0;border: 0;margin-bottom: 0px;font-size: 2.5em;margin-top: 0.2em;">
        <a href="/">Rettet die Stille!</a>
    </h1>
    <h2>
        Helfen Sie mit, den Südschwarzwald vor lärmenden Motorrädern, Sportwagen, Quads, Motorsportflugzeugen und Gyrocoptern zu schützen!
    </h2>
    <hr>
    <div style="text-align: left;margin-left: 0.2;">
        <a href="/index.html">Home</a>&nbsp;&nbsp;
        <a href="/blog.html">Blog</a>&nbsp;&nbsp;
        <a href="/was-kann-ich-tun.html">Wie mitmachen?</a>&nbsp;&nbsp;
        <a href="http://eepurl.com/ha88dz">Newsletter</a>&nbsp;&nbsp;
        <a href="/impressum.html">Impressum & Datenschutz</a>&nbsp;&nbsp;
    </div>
    <hr>
</div>
