---
layout: defaultmodern2
---
 
<div class="card">
  <h1>"Waldesruh vs. Motorenlärm" - Wie kann es im Schwarzwald wieder ruhiger werden?</h1>
  <h3><b>Online-Vortragsveranstaltung</b> der Akademie für Natur- und Umweltschutz Baden-Württemberg am 29.4.2021 in Kooperation mit dem Nationalpark Schwarzwald, dem Biosphärengebiet Schwarzwald, dem Naturpark Schwarzwald Mitte Nord, dem Naturpark Südschwarzwald, dem Naturschutzzentrum Südschwarzwald und dem Schwarzwaldverein.</h3>
  <hr>
  <p>Die von Einheimischen wie Gästen geschätzte Ruhe im Schwarzwald wird besonders im Sommerhalbjahr durch Motorenlärm erheblich gestört. Es gibt kaum einen Ort, an dem man dem Lärm entgehen kann. 
    Das hat Auswirkungen auf die Gesundheit, den Naturgenuß und die Erholung, ja sogar auf die Wildtiere. Die Veranstalter setzen sich für "Orte der Stille" ein. Zwei Jahre nach der Auftaktveranstaltung in Bernau 
    soll berichtet werden, was zwischenzeitig erreicht wurde und wie weiter mit der Lärmproblematik umgegangen werden soll.</p>
  <p><b>Podiumsteilnehmer: Thomas Marwein</b> (Lärmschutzbeauftragte Baden-Württemberg), <b>Dr. Christoph Lechner</b> (Amt der Tiroler Landesregierung), <b>Bernd Obrecht</b> (Motorradclub Kuhle Wampe Freiburg „die Schwarzwaldschrubber“), 
  <b>Margret Mergen</b> (Oberbürgermeisterin Baden-Baden), <b>Roland Schöttle</b> (Geschäftsführer Naturpark Südschwarzwald), <b>Kristian Raue</b> (Betreiber der Plattform „Rettet die Stille“), <b>Dr. Stefan Büchner</b> (NAZ Südschwarzwald)</p>
  <p><a href="https://www.naz-feldberg.de/veranstaltungskalender?p_p_id=de_xdot_um_event_ui_lr7_portlet_EventCalendarPortlet&_de_xdot_um_event_ui_lr7_portlet_EventCalendarPortlet_eventId=153743" target="_blank">Weitere Infos und Anmeldung ></a></p>
</div> 
<div class="card">
  <h1>Willkommen bei Rettet die Stille!</h1>
  <hr>
  {{ content }}
</div>
{% for post in site.posts %}
    <div class="card">
      <h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
      <h5> Erstellt am: <span>{{ post.date | date_to_string }}</span></h5>    
       <p>{{post.shorttext}}</p>
       <p><a href="{{ post.url }}" title="{{ post.title }}">Mehr ></a></p>  
    </div>
 {% endfor %}
