---
layout: defaultmodern
---
 
 <div class="card">
  <h2>TITLE HEADING</h2>
  <h5>Title description, Dec 7, 2017</h5>
  <div class="fakeimg" style="height:200px;">Image</div>
  {{ content }}
</div>
{% for post in site.posts %}
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
      <div class="fakeimg" style="height:200px;">Image</div>          
      <p>Some text..</p>
    </div>
 {% endfor %}
